
{% set elem = interface %}
## {{ include('_blocks/name.md.twig') }} {{ include('_blocks/badges.md.twig') }}

{{ interface.summary|replace({'#### ': '- ', '### ': '- ', '## ': '- ', '# ': '- ',})|raw }}

{{ interface.description|replace({'#### ': '- ', '### ': '- ', '## ': '- ', '# ': '- ',})|raw }}


{#- Parents -#}
{% set parents = [] %}

{% macro getRecursiveParents(targetInterface) %}
  {%- import _self as self -%}

  {%- if targetInterface -%}
    {{- targetInterface.parent|join(',') -}},
    {%- for i in targetInterface.parent -%}
      {{- self.getRecursiveParents(i) -}}
    {%- endfor -%}
  {%- endif -%}
{% endmacro %}

{% import _self as self %}
{% set parentsText = self.getRecursiveParents(interface) %}

{#- Convert to array, sort and remove duplicates -#}
{% for name in parentsText|trim(', ')|split(',')|sort %}
    {%- set parents = parents|merge({ (name|trim('\\')): (name|split('\\')|last) }) -%}
{% endfor %}

|     |     |
| ---:|:--- |
| **Extends** |
    {%- for iname, ishort in parents if ishort is not empty -%}
        [{{ iname|trim('\\')|split('\\')|slice(0, -1)|join('\\') }}\\<span style="font-weight: bold;">{{ ishort }}</span>](interfaces.html#
        {{- iname|lower|replace({'\\': '-'}) }}) <br />
    {%- else -%}
        _Nothing_
    {%- endfor -%}
|

{{ include('_tables/metadata.md.twig', { elem: interface }) }}

### <span style="display: none;">{{ class }}</span> Constants
{# Lista de constantes #}
{% for constant in interface.constants|sort_asc %}
    {{ include('_member/constant.md.twig') }}
{% else %}
> This interface has not constants.
{% endfor %}

### <span style="display: none;">{{ interface }}</span> Methods
{# Lista de métodos públicos y protegidos #}
{% for method in interface.methods|sort_asc %}
    {{ include('_member/method.md.twig') }}
{% else %}
> This interface has not methods.
{% endfor %}
