
{% set elem = trait %}
## {{ include('_blocks/name.md.twig') }} {{ include('_blocks/badges.md.twig') }}

{{ trait.summary|replace({'#### ': '- ', '### ': '- ', '## ': '- ', '# ': '- ',})|raw }}


{#- Used traits -#}
{% set usedTraits = [] %}

{% macro getRecursiveTraits(targetTrait) %}
  {%- import _self as self -%}

  {%- if targetTrait -%}
    {{- targetTrait.usedTraits|join(',') -}},

    {%- for trait in targetTrait.usedTraits -%}
      {{- self.getRecursiveTraits(trait) -}}
    {%- endfor -%}
  {%- endif -%}
{% endmacro %}

{% import _self as self %}
{% set usedTraitsText = self.getRecursiveTraits(trait) %}

{#- Convert to array, sort and remove duplicates -#}
{% for name in usedTraitsText|trim(', ')|split(',')|sort %}
    {%- set usedTraits = usedTraits|merge({ (name): (name|split('\\')|last) }) -%}
{% endfor %}

|     |     |
| ---:| --- |
| **Uses** {# FIXME #} |
    {%- for tName, tShort in usedTraits if tShort is not empty -%}
        [{{ tName|trim('\\')|split('\\')|slice(0, -1)|join('\\') }}\\<span style="font-weight: bold;">{{ tShort }}</span>](traits.html#
        {{- tName|trim('\\')|lower|replace({'\\': '-'}) }}) <br />
    {%- else -%}
        _Nothing_
    {%- endfor -%}
|

### Description

{% if trait.description %}
{{ trait.description|replace({'#### ': '- ', '### ': '- ', '## ': '- ', '# ': '- ',})|raw }}
{% else %}
> No description.
{% endif %}

{{ include('_tables/metadata.md.twig', { elem: trait}) }}


### <span style="display: none;">{{ trait }}</span> Methods
{# Lista de métodos públicos y protegidos #}
{% for method in trait.methods|sort_asc %}
    {{ include('_member/method.md.twig') }}
{% else %}
> This trait has not methods.
{% endfor %}


{% set propertiesList = [] %}
### <span style="display: none;">{{ trait }}</span> Properties
{# Lista de propiedades públicas y protegidas #}
{% for property in trait.properties|merge(trait.magicProperties)|sort_asc %}
{% set propertiesList = propertiesList|merge([property.name]) %}
  {{ include('_member/property.md.twig') }}
{% else %}
> This trait has not properties.
{% endfor %}
