{% if property.parent in project.indexes.classes %}
    {%- set parent_location = 'classes' %}
{%- elseif property.parent in project.indexes.interfaces %}
    {%- set parent_location = 'interfaces' %}
{%- else %}
    {%- set parent_location = 'traits' %}
{%- endif -%}

<a href="{{ parent_location }}.html#{{ property.parent|trim('\\')|replace({'\\': '-'}) }}::${{ property.name }}">
    {{- text|default(property.name|default(property))|raw -}}
</a> {{ '' -}}
