## {{ interface|trim('\\') }} {{ include('badges.md.twig', { elem: interface }) }}

{{ interface.summary|replace({'#### ': '- ', '### ': '- ', '## ': '- ', '# ': '- ',}) }}

{{ interface.description|replace({'#### ': '- ', '### ': '- ', '## ': '- ', '# ': '- ',}) }}

{#- Parents -#}
{% set parents = [] %}

{% macro getRecursiveParents(targetInterface) %}
  {%- import _self as self -%}

  {%- if targetInterface -%}
    {{- targetInterface.parent|join(',') -}},
    {%- for i in targetInterface.parent -%}
      {{- self.getRecursiveParents(i) -}}
    {%- endfor -%}
  {%- endif -%}
{% endmacro %}

{% import _self as self %}
{% set parentsText = self.getRecursiveParents(interface) %}

{#- Convert to array, sort and remove duplicates -#}
{% for name in parentsText|trim(', ')|split(',')|sort %}
    {%- set parents = parents|merge({ (name|trim('\\')): (name|split('\\')|last) }) -%}
{% endfor %}

|     |     |
| ---:|:--- |
| **Extends** |
    {%- for iname, ishort in parents if ishort is not empty -%}
        [{{ iname|trim('\\')|split('\\')|slice(0, -1)|join('\\') }}\\<span style="font-weight: bold;">{{ ishort }}</span>](/api/interfaces.html#
        {{- iname|lower|replace('\\', '-') }}) <br />
    {%- else -%}
        _Nothing_
    {%- endfor -%}
|

| | |
|:---:| --- |
| **Authors** |
    {%- for author in interface.tags.author -%}
      {{ author.description }} <br />
    {%- endfor -%}
|


{% if interface.tags.see is not empty or interface.tags.link is not empty %}
***See Also:***

{% for see in interface.tags.see %}
* `{{ see.reference }}` {% if see.description %}-{% endif %} {{ see.description }}
{% endfor %}

{% for link in interface.tags.link %}
* [{{ link.description|default(link.link) }}]({{ link.link }})
{% endfor %}

{% endif %}{# interface.tags.see || interface.tags.link #}

### <span style="display: none;">{{ interface }}</span> Methods
{# Lista de métodos públicos y protegidos #}
{% for method in interface.methods|sort_asc %}
{% include 'method.md.twig' %}
{% else %}
> This interface has not methods.
{% endfor %}
